//- variable
- var keywords = ''
- var description = ''
- var page = ''
- var headPic = '../assets/images/5d-logo-w.png'
- var behindVDO = ''
- var thaiName = ''
- var engName = ''
- var fixedNav = 1


//- mixin
mixin titleTag(headPic)
	.title-tag
		img(src=headPic, alt="")
		p it's work from legend

mixin behindTheScene(behindVDO)
	.behindFrame
		.vid
			.videoWrapper
				iframe(src='https://www.youtube.com/embed/'+behindVDO+'?ecver=1?autoplay=1&showinfo=0&modestbranding=0', width='560', height='315', frameborder="0" allowfullscreen)
		.bottom-arrow
			i.fa.fa-angle-double-down(aria-hidden="true")

mixin nameTag(thaiName,engName)
	.tag-name
		h2 #{thaiName}
		h2 #{engName}

mixin title(title,subTitle)
	.title-title
		h2 #{title}
		p #{subTitle}